<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>-REPLACEME-</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.17</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>-REPLACEME-</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>-REPLACEME-</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>-REPLACEME-</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>-REPLACEME-</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>-REPLACEME-</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>app-settings</string>
		<string>nestmobile</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MUZZLEY_FIBARO_SMOKE_PROFILEID</key>
	<string>2be2fcd6-bdb3-11e7-b55c-066268605eec</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>muzzley.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>In order to scan QR Codes, please grant permission to access the camera.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>If your smart home knows where you are it can better adapt to your needs. We will not share your location without your permission.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>If your smart home knows where you are it can better adapt to your needs. We will not share your location without your permission.</string>
	<key>NSLocationUsageDescription</key>
	<string>If your smart home knows where you are it can better adapt to your needs. We will not share your location without your permission.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>If your smart home knows where you are it can better adapt to your needs. We will not share your location without your permission.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This will enable you to talk to your baby at anytime! We will not share or record your voice interactions.</string>
	<key>NSMotionUsageDescription</key>
	<string>By knowing your motion activity, we will be able to better protect you</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This action will allow you to change your profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>icomoon.ttf</string>
		<string>ios_ui_icons.ttf</string>
		<string>ios_social_network_icons.ttf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoDisplay-Bold.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Heavy.otf</string>
		<string>SanFranciscoText-LightItalic.otf</string>
		<string>SanFranciscoText-Regular.otf</string>
		<string>SanFranciscoText-RegularItalic.otf</string>
		<string>SanFranciscoText-Medium.otf</string>
		<string>SanFranciscoText-Bold.otf</string>
		<string>SanFranciscoText-BoldItalic.otf</string>
		<string>SanFranciscoText-Semibold.otf</string>
		<string>SanFranciscoText-SemiboldItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
